<br/><br/><br/>
<div layout="column" layout-align="center center" layout-fill="layout-fill">
  <div layout="column" class="loginBox md-whiteframe-z1">
    <md-toolbar>
      <h2 class="md-toolbar-tools"><span>Reset your password!</span></h2>
    </md-toolbar>
    <md-toolbar class="md-warn" ng-if="$ctrl.error&&!$ctrl.formSubmitted">
        <div class="md-toolbar-tools" md-padding>
            <small class="md-flex" ng-bind="$ctrl.errorMessages[$ctrl.error.code]"></small>
        </div>
    </md-toolbar>
    <md-toolbar class="md-accent" ng-if="$ctrl.formSubmitted">
        <div class="md-toolbar-tools" md-padding>
            <small class="md-flex">An email was successfully sent to the address below to reset your password.</small>
        </div>
    </md-toolbar>
    <md-content layout="column" class="md-padding">
      <div>
        <form name="resetPassword" ng-submit="$ctrl.forgotPassword()">
          <md-input-container class="md-block">
            <label>Email Address</label>
            <input type="email" ng-model="$ctrl.user.email"/>
          </md-input-container>
          <div layout="row" layout-align="space-between center" style="padding-top:20px;">
            <md-button class="md-raised md-primary" ng-click="$ctrl.forgotPassword()" ng-disabled="$ctrl.submitting || $ctrl.formSubmitted" type="submit">Reset Password</md-button>
            <md-button href="" md-no-ink="md-no-ink" ui-sref="login">Login</md-button>
          </div>
        </form>
      </div>
    </md-content>
  </div>
</div>