<br/><br/><br/>
<div layout="column" layout-align="center center" layout-fill="layout-fill">
    <div layout="column" class="loginBox md-whiteframe-z1">
        <md-toolbar>
            <h2 class="md-toolbar-tools"><span>Login now!</span></h2>
        </md-toolbar>
        <md-toolbar class="md-warn" ng-if="$ctrl.error">
            <div class="md-toolbar-tools" md-padding>
                <small class="md-flex" ng-bind="$ctrl.errorMessages[$ctrl.error.code]"></small>
            </div>
        </md-toolbar>
        <md-content class="md-padding" layout="column">
            <div>
                <form name="loginForm" ng-submit="$ctrl.login()">
                    <div>
                        <md-input-container class="md-block">
                            <label>Email Address</label>
                            <input type="email" ng-model="$ctrl.user.email"/>
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container class="md-block">
                            <label>Password</label>
                            <input type="password" ng-model="$ctrl.user.password"/>
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="space-between center" style="padding-top:20px;">
                        <md-button class="md-raised md-primary" ng-click="$ctrl.login()" type="submit" ng-disabled="$ctrl.submitting">Login</md-button>
                        <md-button href="" md-no-ink="md-no-ink" ui-sref="register">Register</md-button>
                        <md-button href="" md-no-ink="md-no-ink" ui-sref="forgotPassword">Forgot Password</md-button>
                    </div>
                </form>
            </div>
        </md-content>
    </div>
</div>